[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/curlpp"]
	path = lib/curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "lib/sqlpp11"]
	path = lib/sqlpp11
	url = https://github.com/rbock/sqlpp11.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
